@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #48A30012;
    font-family: poppins;
    margin: 0;
}
h1>span{
    color: green;
}
header>h1{
    color: #6F4E37;
    text-align: center;
    font-size: 4rem;
    margin-top: 100px;
    margin-left: 80px;
}
main{
    height: 800px;
    width: 660px;
    /* margin-top: 20px; */
    margin-left: 390px;
    background-color:#FFFFFF ;
    display: flex;
}
div>h3{
    font-size: 32px;
    font-weight: 700px;
    margin:30px auto auto 40px;
}
p{
    color: #858585;
    font-weight: 400px;
    font-size: 13px;
    margin:30px auto auto 40px ;
}
#bar{
    margin-left: 20px;
    width: 190%;
    height: 40px;
    background: #f2f2f2;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    /* background-color: #6F4E37; */
    border: 2.5px solid whitesmoke;
}
#progress{
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: green;
    transition: width 1s ease-in-out; /* Smooth transition */
}
#comment{
    color:#FF5151ed;
    font-size: 14px;
    font-weight: 400px ;
    visibility: hidden;
    
}
img{
    height: 45px;
    width: 45px;
    color: white;
}
#goalscontainer{
    position: absolute;
    /* background-color: yellow; */
    margin: 200px auto auto 0px;
}
.goals{
    display: flex;
    align-items: center;
    margin: 50px;
    border: 1px solid 	#414a4c;
    border-radius: 17px;
    background-color: #FFFFFF;
    width: 500px;
    height: 82px;
}
input{
    border: 0;
}

#lastmessage{
    position: absolute;
    margin-top: 620px;
    /* margin-left: 150px; */
    width: 600px;
    /* background-color: yellow; */
    text-align: center;
    
}
#lastmessage>h4{
    text-align:r;
}
.goals>.fa-solid{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    border: 5px solid whitesmoke;
    border-radius: 50%;
    color: white;
}
